// #about_first {
//     margin: 100px 0;
//     text-align: center;
//     img {
//         width: 60%;
//     }
// }
// #about_second {
//     margin: 60px 0;
//     line-height: 2;
//     p {
//         font-family: 'Noto Serif KR', serif;
//         font-size: 16px;
//         text-align: center;
//     }
// }
// #about_third {
//     margin: 60px 0;
//     img {
//         width: 40%;
//     }
// }
.about {
    text-align: center;
    img {
        width: 60%;
        margin: 100px 0;
    }
    p {
        font-family: 'Noto Serif KR', serif;
        font-size: 16px;
        text-align: center;
        margin: 70px 0;
    }
}