@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@-webkit-keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #faf9f2;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #faf9f2;
}

header.drop {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: dropHeader 0.3s;
          animation: dropHeader 0.3s;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

#header_container {
  font-family: 'Ubuntu', sans-serif;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu li {
  padding: 0 20px;
  cursor: pointer;
}

.header_menu .side_menu {
  width: 280px;
  height: 200vh;
  position: absolute;
  left: -280px;
  top: 0;
  background: #3c3c3c;
  color: #fff;
  font-weight: normal;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.header_menu .side_menu span {
  display: block;
  text-align: right;
  padding-right: 20px;
}

.header_menu .side_menu span #closeIcon {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu .side_menu span #closeIcon:hover {
  color: #fff;
}

.header_menu .side_menu #side_logo {
  margin: 30px 0;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
}

.header_menu .side_menu li {
  margin-bottom: 10px;
  color: #ccc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu .side_menu li:hover {
  color: #fff;
}

.header_menu .side_menu.on {
  left: 0;
}

.hidden {
  display: none;
}

.innerCon {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.innerCon_small {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 800px;
}

#main_banner {
  width: 100%;
  height: 800px;
  background-color: #E8E6E1;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_banner img {
  height: 800px;
  width: 100%;
}

#main_banner #main_text {
  position: absolute;
  top: 25%;
  left: 18%;
  text-align: left;
}

#main_banner #main_text h1 {
  font-size: 50px;
  line-height: 1.2;
}

#main_banner #main_text p {
  font-size: 16px;
  color: #5d5d5d;
  margin-top: 15px;
}

#main_banner #main_text #main_btn {
  display: inline-block;
  padding: 8px 30px;
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

#main_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main_select .main_menu {
  width: 100%;
  height: 560px;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#main_select .main_menu:not(:last-child) {
  margin-right: 15px;
}

#main_select .main_menu img {
  width: 100%;
  height: 560px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#main_select .main_menu .menu_contents {
  background-color: #fff;
  opacity: 70%;
  padding-bottom: 10px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 70%;
  font-weight: bold;
  color: #7c7c7c;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#main_select .main_menu .menu_contents .title {
  font-size: 22px;
  font-weight: bold;
  padding: 8px 0;
  color: #3c3c3c;
}

#main_select .main_menu:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#main_select .main_menu:hover .menu_contents {
  opacity: 80%;
}

#item_title {
  text-align: center;
  height: 150px;
  line-height: 180px;
  margin-top: 50px;
}

#item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#item_list .item_card {
  margin: 30px 5px;
  width: 250px;
}

#item_list .item_card img {
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 6px 6px 6px 6px #ccc;
          box-shadow: 6px 6px 6px 6px #ccc;
  -webkit-transition: 1s;
  transition: 1s;
}

#item_list .item_card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

footer {
  font-size: 13px;
  background-color: #faf9f2;
}

footer #fmenu {
  margin-top: 50px;
  height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

footer #fmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

footer #fmenu ul li {
  padding: 0 20px;
}

footer #fmenu ul li:not(:last-child) {
  border-right: 1px solid #5d5d5d;
}

footer #fcopy {
  color: #7c7c7c;
  line-height: 2.5;
  position: relative;
  height: 200px;
  text-align: center;
  padding-top: 40px;
}

footer #fcopy #footerLogo {
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 840px) and (max-width: 1024px) {
  #main_container {
    height: 600px;
  }
  #main_container #main_banner {
    height: 600px;
  }
  #main_select {
    height: 100%;
  }
  #main_select .main_menu {
    height: 400px;
  }
  #main_select .main_menu img {
    height: 400px;
  }
  #main_select .main_menu .menu_contents {
    bottom: 0;
    width: 100%;
  }
  #main_select .main_menu .menu_contents .title {
    font-size: 22px;
  }
  #main_select .main_menu .menu_contents p {
    font-size: 18px;
  }
  .item_card:last-child {
    display: none;
  }
}

@media screen and (min-width: 680px) and (max-width: 839px) {
  #main_container {
    height: 400px;
  }
  #main_container #main_banner {
    height: 400px;
  }
  #main_select {
    height: 100%;
  }
  #main_select .main_menu {
    height: 300px;
  }
  #main_select .main_menu img {
    height: 300px;
  }
  #main_select .main_menu .menu_contents {
    bottom: 0;
    width: 100%;
  }
  #main_select .main_menu .menu_contents .title {
    font-size: 20px;
  }
  #main_select .main_menu .menu_contents p {
    font-size: 16px;
  }
  #main_items #item_list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 380px) and (max-width: 679px) {
  header {
    height: 3.5rem;
  }
  header #header_container {
    font-size: 13px;
    padding: 10px;
  }
  header #header_container .header_menu .side_menu {
    font-size: 14px;
    width: 200px;
    left: -200px;
    position: absolute;
    height: 100vh;
  }
  header #header_container .header_menu .side_menu #side_logo {
    font-size: 24px;
  }
  header #header_container .header_menu .side_menu.on {
    left: 0;
  }
  #main_container {
    height: 300px;
  }
  #main_container #main_banner {
    height: 300px;
  }
  #main_select {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main_select .main_menu {
    height: 300px;
  }
  #main_select .main_menu img {
    width: 300px;
    height: 300px;
  }
  #main_select .main_menu .menu_contents {
    bottom: 0;
    width: 300px;
    height: 300px;
  }
  #main_select .main_menu .menu_contents .title {
    font-size: 18px;
    margin-top: 130px;
  }
  #main_select .main_menu .menu_contents p {
    font-size: 16px;
  }
  #main_items #item_list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .item_card:nth-child(5), .item_card:nth-child(6), .item_card:nth-child(7),
  .item_card:nth-child(8), .item_card:nth-child(9), .item_card:nth-child(10) {
    display: none;
  }
  footer {
    font-size: 12px;
  }
  footer #fmenu ul li {
    padding: 0 10px;
  }
  footer #fcopy div {
    width: 80%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */