#product_top {
  padding: 0 20px;
  margin: 60px 16px 40px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product_top #left_top {
  display: flex;
  align-items: center;
}
#product_top #left_top h1 {
  font-size: 22px;
}
#product_top #left_top ul {
  display: flex;
}
#product_top #left_top ul li {
  font-size: 16px;
  font-weight: bold;
  color: #7c7c7c;
  margin-right: 16px;
}
#product_top #left_top h2 {
  color: #7c7c7c;
  font-size: 16px;
}
#product_top #left_top span {
  margin: 0 10px;
  color: #7c7c7c;
}
#product_top #right_top ul {
  display: flex;
  align-items: center;
}
#product_top #right_top ul li {
  padding-left: 16px;
}

#product {
  padding: 0 20px;
  margin-top: 80px;
}
#product #product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#product #product-list .product-card {
  margin: 0 16px 30px 16px;
  width: 233px;
}
#product #product-list .product-card img {
  height: 233px;
  width: 233px;
  transition: 0.5s;
}
#product #product-list .product-card img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#product #product-list .product-card .product-contents {
  width: 100%;
  height: 90px;
  text-align: center;
  padding: 18px 0;
}
#product #product-list .product-card .product-contents .product_name {
  font-size: 14px;
}
#product #product-list .product-card .product-contents .product_price {
  padding-top: 8px;
  color: #7c7c7c;
  font-size: 13px;
}

.btnGO {
  margin-top: 40px;
  text-align: left;
}
.btnGO button {
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 10px 24px;
  transition: 0.3s;
}
.btnGO button:hover {
  background-color: #d72020;
}

#create_title {
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
#create_title h1 {
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}

#product_Ctable {
  border-collapse: collapse;
  margin: 30px 0;
}
#product_Ctable tr {
  height: 80px;
}
#product_Ctable tr th {
  width: 140px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}
#product_Ctable tr td {
  padding-left: 20px;
}
#product_Ctable tr td #prd_content {
  border-radius: 3px;
}
#product_Ctable tr td input[type=text] {
  height: 30px;
  width: 250px;
  padding-left: 5px;
  border-radius: 3px;
}
#product_Ctable tr .btn {
  height: 180px;
}
#product_Ctable tr .btn input {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 7px 24px;
  margin-right: 10px;
  transition: 0.3s;
}
#product_Ctable tr .btn input:hover {
  background-color: #d72020;
  font-weight: bold;
}

#product_review {
  margin-bottom: 100px;
}
#product_review #review_top {
  border-bottom: 2px solid #7c7c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product_review #review_top h2 {
  font-size: 20px;
  margin: 20px 16px;
  padding: 0 20px;
}
#product_review #review_top p {
  margin-right: 40px;
  padding: 7px 20px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: #7c7c7c;
}
#product_review #review_top p:hover {
  background-color: #aaa;
  color: #fff;
  border: none;
}

#review_table {
  border-collapse: collapse;
  margin: 0 auto;
}
#review_table tr {
  height: 60px;
}
#review_table tr th {
  width: 120px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
}
#review_table tr td {
  padding-left: 20px;
  padding-right: 30px;
}
#review_table tr td #prd_content {
  border-radius: 3px;
}
#review_table tr td textarea {
  border: 1px solid #ccc;
  background-color: transparent;
  height: 30px;
  width: 250px;
  padding-left: 5px;
  border-radius: 3px;
  line-height: 25px;
}
#review_table tr .btn input {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 7px 24px;
  margin-right: 10px;
  transition: 0.3s;
}
#review_table tr .btn input:hover {
  background-color: #d72020;
  font-weight: bold;
}

#product_view_left {
  width: calc(50% - 16px);
  height: 100%;
  float: left;
  text-align: center;
  margin: 40px 0;
}
#product_view_left img {
  width: 500px;
}

#product_view_right {
  width: calc(50% - 16px);
  height: 100%;
  float: right;
  margin-top: 40px;
}
#product_view_right .view_group {
  color: #7c7c7c;
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
}
#product_view_right .view_name {
  font-size: 28px;
  font-weight: bold;
}
#product_view_right .view_price {
  padding: 30px 0;
  font-size: 18px;
}
#product_view_right .view_content {
  color: #7c7c7c;
  height: 100px;
  font-size: 16px;
  width: 550px;
}
#product_view_right .view_num {
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#product_view_right .view_num input[type=text] {
  height: 25px;
  width: 35px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}
#product_view_right .view_num input[type=button] {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: #333;
  font-size: 12x;
  border: 1px solid #ccc;
  margin: 0 10px;
  font-weight: bold;
}
#product_view_right .view_num #amount {
  text-align: center;
}
#product_view_right .view_total {
  height: 70px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#product_view_right .view_total input[type=text] {
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  width: 100px;
  text-align: right;
  margin: 0 8px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#rating {
  display: inline-block;
  direction: rtl;
  border: 0;
}
#rating input[type=radio] {
  display: none;
}
#rating input[type=radio]:checked ~ label {
  text-shadow: 0 0 0 #FF9600;
}
#rating label {
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}
#rating label:hover {
  text-shadow: 0 0 0 #FF9600;
}
#rating label:hover ~ label {
  text-shadow: 0 0 0 #FF9600;
}

.hidden {
  display: none;
}

#review_inner {
  margin-top: 25px;
}

.review_list {
  display: flex;
  text-align: center;
}
.review_list li {
  margin: 10px 0;
}
.review_list .review_rating {
  width: 22%;
}
.review_list .review_content {
  width: 45%;
  text-align: left;
}
.review_list .review_name {
  width: 15%;
}
.review_list .review_date {
  width: 20%;
}
.review_list .review_btn {
  width: 10%;
}
.review_list .review_btn p {
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}
.review_list .review_btn p:hover {
  color: #d72020;
}